# Ignore the entire airflow_home folder (contains logs, configs, temp files)
airflow_home/

# Ignore database files (if you don’t want local DB data to be tracked)
database/
airflow_home/database/
*.db

# Ignore log files
logs/
airflow_home/logs/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment files (if using virtual environments)
.env
venv/
